* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
}




/* navbar */

.box-phones {
  height: 25px;
  background-color: black;
}


button {
  overflow-x: hidden;
  height: 25px;
  width: 270px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: black;
  align-items: flex-start;
  justify-content: flex-start;
}

button:hover {
  overflow-x: visible;
  height: 130px;
}

table {
  width: 100%;
}


table tr {
  display: flex;
  justify-content: flex-start;
}

table tr td {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  text-transform: uppercase;
  color: white;
  line-height: 1.7;
  font-size: 13px;
}

.navbar a:hover,
table tr td a:hover {
  color: #ff6600;
}


.navbar {
  max-height: 35px;
}

.rule-building span,
a {
  font-size: 13px;
}


/* dropdown */


.dropdown .btn {
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding-right: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .line {
  border-bottom: solid 2px gray;
}

.dropdown-menu {
  border-radius: 0;
  font-size: 24px;
}

.dropdown-menu a {
  font-size: 14px;
  background-color: white;
  color: black;
  text-transform: uppercase;

}

.dropdown-menu a:hover {
  background-color: white;
  color: #ff6600;

}

.navbar-menu {
  border-bottom: solid 2px gray;
}


/* carrossel da home */
.carousel img {
  width: 100%;
}


/* carrossel de produtos */
.container-list-products:hover button.slick-arrow {
  display: block;
  background-color: gray;
  height: 22px
}

.slick-dots li button:before {
  font-size: 15px !important;
  line-height: 15px;
}

.card {
  border: none;
}