
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Nunito:wght@200;400;700&family=Roboto:wght@100;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

a:visited {
  color: black;
}



/* navbar */

.navbar-principal a:visited {
  color: white;
}
.box-phones {
  height: 25px;
  background-color: black;
}


.navbar-principal button {
  overflow-x: hidden;
  height: 25px;
  width: 270px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: black;
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar-principal button:hover {
  overflow-x: visible;
  height: 130px;
}

.navbar-principal table {
  width: 100%;
}


.navbar-principal table tr {
  display: flex;
  justify-content: flex-start;
}

.navbar-principal table tr td {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  text-transform: uppercase;
  color: white;
  line-height: 1.7;
  font-size: 13px;
}

.navbar-principal .navbar a:hover,
.navbar-principal  table tr td a:hover {
  color: #ff6600;
}


.navbar {
  max-height: 35px;
}

.rule-building span,
a {
  font-size: 13px;
}


/* dropdown */


.dropdown .btn {
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding-right: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .line {
  border-bottom: solid 2px gray;
}

.dropdown-menu {
  border-radius: 0;
  font-size: 24px;
}

.dropdown a{
  color: black;
}

.dropdown a:visited{
  color: black;
}
.dropdown-menu a {
  font-size: 14px;
  background-color: white;
  color: black;
  text-transform: uppercase;

}


.dropdown-menu a:hover {
  background-color: white;
  color: #ff6600;

}

.navbar-menu {
  border-bottom: solid 2px gray;
}


/* carrossel da home */
.carousel img {
  width: 100%;
}


/* carrossel de produtos */
.container-list-products:hover button.slick-arrow {
  display: block;
  background-color: gray;
  height: 22px
}

.slick-dots li button:before {
  font-size: 15px !important;
  line-height: 15px;
}

.card {
  border: none;
}

.price{
  color: #ff6500;
}


/* about us */

.about-p{
  font-size: 14px;
  text-align: justify;
}


/* Footer */
.news{
  background-color: #ff6600;
}

.form-check span{
  font-size: 13px;
}

.footer-links a{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding: 2px;
  font-weight: 400;
}

.contact a{
  font-weight: 300;
}

.contact i{
  color: rgb(59, 59, 59);
}

.contact a b{
  font-weight: bold;
}

/* social media footer */
.social-media a{
  font-size: 14px;
  padding-left: 10px;
  color: white;
}

.social-media a i{
  padding: 5px;
  border-radius: 10%;
}

/* facebook */
.social-media a:nth-child(1) {
  padding-left: 0;
}
.social-media a:nth-child(1) i{
  background-color: #47639e;
}

/* twitter */
.social-media a:nth-child(2) i{
  background-color: #55acee;
}

/* instagram */
.social-media a:nth-child(3) i{
  background-color: #674e46;
}

/* youtube */
.social-media a:nth-child(4) i{
  background-color: #e52c28;
}

/* pinterest */
.social-media a:nth-child(5) i{
  background-color: #cb2028;
}